.footer .container-fluid{
  color:"#1F354F"
}
.footer .container{
  margin-bottom: 80px;
}

.footer  hr{
  margin-top: 0;
  margin-bottom: 0;
  border:1px solid #dddddd;
}
.footer  .nav-pills li a{
  font-family: 'RobotoBold', sans-serif;
  padding:0px;
  margin: 8px 20px 8px 0px;
  color: #1F354F;
  font-weight: bold;
}
.footer .nav-pills li a:hover{
  background-color: transparent !important;
}
.footer .logo{
  width: 65px
}

.footer .social-logo{
  width: 30px;
  margin:4px
}
