.home{
  color: #1F354F;
}
.home .cover-container{
  background-image: url('../../assets/images/Header_Image-01.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.home .cover{
  margin-top: 100px;
}
.home .cover-vid{
  top: 40px;
}
.home .cover-vid iframe{
  border:3px solid #ffffff;
  border-radius: 5px;
}
.home p.slogan{
  font-size: 60px;
  line-height: 60px;
  font-family: 'DharmaGothicLight', sans-serif;
  color: #ffffff
}
.home p.slogan-sub{
  color: #ffffff
}

.home .icon{
    height: 90px;
}

.home .btn.btn-transparent-circular{
  background-color: transparent !important;
  border:1px solid #ffffff;
  padding: 3px 50px;
  color: #ffffff !important;
  border-radius: 15px;
}

.home .btn.btn-blue-circular{
  background-color: #1F354F !important;
  border:1px solid #ffffff;
  padding: 0px 70px 9px 70px;
  color: #ffffff !important;
  border-radius: 50px;
}
