.navbar-default{
  background-image: none !important;
  background-color: transparent !important;
  border:none;
  border-bottom: 1px solid #ffffff;
  padding: 5px 0;
}
.navbar-nav > li > a{
  color: #ffffff  !important;
}
/*.activeNav{
  color:yellow !important;
}*/
.navbar-nav > li > a.active {
  color: yellow !important;
}
.navigation{
 border-radius: 0px;
}
.logo{
  margin-top: -10px;
  width:40px;
  display: inline;
}
.space{
  display: inline-block;
  width:50px;
}
